In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index= ['a','b','c','d'])

In [9]:
data['b']

0.5

In [10]:
population_dict = {'Mah': 38332521, 'MP': 26448193, 'Kar': 19651127, 'WB': 19552860, 'J&K': 12882135}
population = pd.Series(population_dict)
population

Mah    38332521
MP     26448193
Kar    19651127
WB     19552860
J&K    12882135
dtype: int64

In [12]:
population['Mah']

38332521

In [13]:
pd.Series(5, index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [17]:
pd.Series({2:'a', 1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [18]:
pd.Series({2:'a',1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [19]:
population_dict = {'Mah': 38332521, 'MP': 26448193, 'Kar': 19651127, 'WB': 19552860, 'J&K': 12882135}
S1 = pd.Series(population_dict)
area={"A": 999,"B": 888, "C": 777}
S2 = pd.Series(area)
df1 = pd.DataFrame({"A": S1, "B": S2})
df1

              A      B
A           NaN  999.0
B           NaN  888.0
C           NaN  777.0
J&K  12882135.0    NaN
Kar  19651127.0    NaN
MP   26448193.0    NaN
Mah  38332521.0    NaN
WB   19552860.0    NaN

In [20]:
population_dict = {'Mah': 38332521, 'MP': 26448193, 'Kar': 19651127, 'WB': 19552860, 'J&K': 12882135}
S1 = pd.Series(population_dict)
area={"A": 999,"B": 888, "C": 777}
S2 = pd.Series(area)
df1 = pd.DataFrame({"C": S1, "B": S2})
df1

              C      B
A           NaN  999.0
B           NaN  888.0
C           NaN  777.0
J&K  12882135.0    NaN
Kar  19651127.0    NaN
MP   26448193.0    NaN
Mah  38332521.0    NaN
WB   19552860.0    NaN

In [27]:
df1.index

Index(['A', 'B', 'C', 'J&K', 'Kar', 'MP', 'Mah', 'WB'], dtype='object')

In [28]:
pd.DataFrame(population, columns=['Population'])

     Population
Mah    38332521
MP     26448193
Kar    19651127
WB     19552860
J&K    12882135

In [30]:
data = [{'a': i, 'b': 2 * i}
for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [31]:
pd.DataFrame([{'a':1,'b':2}, {'b': 3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [34]:
import numpy as np

pd.DataFrame(np.random.rand(3,2),columns = ['C1', 'C2'], index = ['r1','r2','r3'])

          C1        C2
r1  0.982690  0.935632
r2  0.918143  0.980645
r3  0.421691  0.572343

In [36]:
pd.DataFrame(np.random.rand(3,2))

          0         1
0  0.452938  0.502056
1  0.957997  0.897967
2  0.177763  0.579828

In [37]:
A = np.array([1,2,3,4,5,6,7,8,9])
B=A.reshape(3,3)
pd.DataFrame(B,columns=["C1","C2","C3"])

   C1  C2  C3
0   1   2   3
1   4   5   6
2   7   8   9

In [40]:
rng = np.random.RandomState()
ser = pd.Series(rng.randint(0,5,3))
ser

0    0
1    3
2    0
dtype: int64

In [39]:
rng = np.random.RandomState()
ser = pd.Series(rng.randint(0,5,3))
ser
ser*2

0    6
1    8
2    6
dtype: int64

In [38]:
rng = np.random.RandomState()
ser = pd.Series(rng.randint(0,5,3))
ser
ser*2
np.exp(ser)

0    20.085537
1     2.718282
2     7.389056
dtype: float64